<as-bounceable
  [position]="{ x: 500, y: 500 }"
  style="position: absolute">
  <button md-raised-button>ROFL!</button>
</as-bounceable>

<as-bounceable
  *ngIf="!dialogDestroyed"
  [position]="{ x: 100, y: 100 }"
  style="position: absolute">
  <md-card>
    <md-card-header>
      <md-card-title>Question time!</md-card-title>
      <md-card-subtitle>Do you like this website?</md-card-subtitle>
    </md-card-header>
    <md-card-actions>
      <button md-button (click)="dialogDestroyed = true;">Yeah</button>
      <button md-button (click)="dialogDestroyed = true;">Nah</button>
      <button md-button (click)="dialogDestroyed = true;">Dunno</button>
    </md-card-actions>
  </md-card>
</as-bounceable>
